@media(max-width:576px){

    
.icon-box {
    background-color: white;
    height: 80px;
    width: 98px;
    border-radius: 10px;
  }

  
.icon-box img {
    height: 60px;
    width: 60px;
  }
    
.mobile-image img {
    height: 350px;
  }

  
.carousel-wrapper {
    margin-left: 50px;
  }
  
.swiper {
    width: 100%;
  }

  
.carousel-heading {
    background-color: var(--white);
    height: 180px;
  }
  
  .carousel-heading div h2 {
    margin-left: 0px;
  }
}


@media(max-width:768px){
  .contactuspage-card{
    /* display: none; */
  }
}

/* 
<!-- Slider Section Start -->
<div class="mt-5">
  <div class="carousel-heading">
    <div class="container">
      <h2
        class="text-medium text-primary text-lg text-center text-lg-start"
      >
        Featured Container
      </h2>
    </div>
  </div>

  <div class="carousel-container ">
    <!-- Carousel Start -->
    <div
      class="carousel-wrapper d-flex justify-content-between align-items-baseline"
    >
      <!-- Navigation Buttons Container -->
      <div class="nav-buttons-container">
        <div class="custom-swiper-button-prev">
          <i class="fas fa-arrow-left text-primary"></i>
          <!-- Simple left arrow -->
        </div>
        <div class="custom-swiper-button-next">
          <i class="fas fa-arrow-right"></i>
          <!-- Simple right arrow -->
        </div>
      </div>
      <!-- Slider main container -->
      <div class="swiper ">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-image">
                <img src="assets/images/Slider-1.png" alt="Slide Image" />
              </div>
              <div class="slide-text">
                <span class="text-xs text-primary text-medium">
                  An Elegant Touch Home Staging & Design
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-image">
                <img src="assets/images/Slider-1.png" alt="Slide Image" />
              </div>
              <div class="slide-text">
                <span class="text-xs text-primary text-medium">
                  An Elegant Touch Home Staging & Design
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-image">
                <img src="assets/images/Slider-1.png" alt="Slide Image" />
              </div>
              <div class="slide-text">
                <span class="text-xs text-primary text-medium">
                  An Elegant Touch Home Staging & Design
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-image">
                <img src="assets/images/Slider-1.png" alt="Slide Image" />
              </div>
              <div class="slide-text">
                <span class="text-xs text-primary text-medium">
                  An Elegant Touch Home Staging & Design
                </span>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-image">
                <img src="assets/images/Slider-1.png" alt="Slide Image" />
              </div>
              <div class="slide-text">
                <span class="text-xs text-primary text-medium">
                  An Elegant Touch Home Staging & Design
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel End -->
  </div>
</div>
<!-- Slider Section End --> */
