@media(max-width:576px){

    
.icon-box {
    background-color: white;
    height: 80px;
    width: 98px;
    border-radius: 10px;
  }

  
.icon-box img {
    height: 60px;
    width: 60px;
  }
    
.mobile-image img {
    height: 350px;
  }

  
.carousel-wrapper {
    margin-left: 50px;
  }
  
.swiper {
    width: 100%;
  }

  
.carousel-heading {
    background-color: var(--white);
    height: 180px;
  }
  
  .carousel-heading div h2 {
    margin-left: 0px;
  }
}


@media(max-width:768px){


}

